database/settings.py
/database/dividedEnglishIngredients/*
/database/dividedIngredients/*
/database/subCategories/*
IngEn.txt
/database/receips.txt
/database/receipsNew.txt
/database/IngEnGoogle.txt
/database/translator/*
/venv/*