database/settings.py
/database/dividedEnglishIngredients/*
/database/dividedIngredients/*
/database/subCategories*
/database/ingEn.doc
/database/transPy.py
/database/receips.txt
/database/receipsNew.txt
/database/IngEnGoogle.txt
