database/settings.py
/database/dividedEnglishIngredients/*
/database/dividedIngredients/*
/database/subCategories/*
/database/ingEn.txt
/database/translator/transPy.py
/database/receips.txt
/database/receipsNew.txt
/database/IngEnGoogle.txt
/databse/transator/*
